.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.1px solid rgb(29, 29, 29);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.header-left > h1 {
    font-size: 1.8rem;
}

.header-search {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    border-radius: 0.2rem;
    background-color: #d8ecff;
    padding: 0.5rem;
}

.header-search > input {
    padding: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}