.login {
    display: grid;
    place-items: center;
    margin: auto;
    padding: 3rem;
}
.login > img {
    object-fit: contain;
    height: 12rem;
}
.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
.login-form > input {
    width: 16rem;
    height: 3rem;
    border: 1px solid black;
    padding-left: 1rem;
    color: gray;
    font-weight: bold;
    border-radius: 0.5rem;
}
.login-button {
    background-color: rgb(78, 78, 247);
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    width: 16rem;
    height: 3rem;
    border-radius: 0.5rem;
}
.login > p {
    margin-top: 1.5rem;
}
.register {
    color: rgb(78, 78, 247);
    cursor: pointer;
}
